@import '../../scss/setup';

.resetFormContainer {
	text-align: center;
	&__inputGroup {
		@extend %inputGroup;
	}
	.errorMessage {
		@extend %errorMessage;
		&-apis {
			padding-top: 0;
			margin: 16px 0;
		}
	}
	.password-tips {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 4px;
		a {
			color: $gray-600;
			font-size: $font-s;
		}
	}
}

.forgetPasswordModal-title {
	font-size: $font-xl;
	font-weight: bold;
	color: $black;
	margin-bottom: 32px;
	text-align: center;
	width: 300px;
}

.forgetPasswordModal-subtitle {
	font-size: $font-l;
	color: $black;
	margin-bottom: 32px;
	text-align: center;
}
