$primary: #03438d;
$black: #000400;
$white: #ffffff;
$gray-200: #a8b0b9;
$gray: #9b9893;
$gray-600: #808080;
$lighten-gray: #d6d7d6;
$darken-gray: #707070;
$brown: #efece7;
$yellow: #fecb02;
$pink: #f57375;
