@import '../../scss/setup';

.dropmenuContainer {
	@include rowVertically();
	position: relative;
	cursor: pointer;
	padding: 12px 0;
	&__avatar {
		@include avatar(30px);
		margin-right: 10px;
	}
	&__role {
		font-size: $font-m;
		font-weight: bold;
		padding: 0 3px 4px;
		border-bottom: 2px solid $black;
	}
	&__list {
		position: absolute;
		z-index: 100;
		top: 50px;
		left: 0px;
		width: 182px;
		border: 2px solid $black;
		background-color: $white;
		&::after {
			content: '';
			position: absolute;
			z-index: -1;
			width: 100%;
			height: 100%;
			top: 8px;
			left: 8px;
			border: 2px solid $black;
		}
		&Item {
			position: relative;
			z-index: 10;
			font-size: $font-m;
			line-height: 1.5;
			color: $black;
			padding: 8px 0;
			background-color: $white;
			border-bottom: 2px solid $black;
			text-align: center;
			cursor: pointer;
			transition: 0.3s all;
			a {
				color: $black;
			}
			&:hover {
				background-color: $brown;
			}
			&:last-child {
				border-bottom: none;
			}
		}
	}
}

.dropmenu {
	&-enter {
		opacity: 0;
	}
	&-enter-active {
		opacity: 1;
		transform: translateY(0);
		transition: 0.3s all;
	}
	&-exit {
		opacity: 1;
	}
	&-exit-active {
		opacity: 0;
		transition: 0.3s all;
	}
}
