@import '../../scss/setup';

.sidebarItemContainer {
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;
	transition: 0.3s all;
	font-size: $font-m;
	font-weight: bold;
	cursor: pointer;
	margin-top: 22px;
	&:hover {
		.sidebarItemContainer__icon {
			background-color: $darken-blue;
			color: $white;
		}
		color: $darken-blue;
	}
	&__icon,
	&__avatar {
		@include rowVertically();
		@include avatar(50px);
		font-size: $font-l;
		color: $black;
		background-color: $blue;
		margin-right: 16px;
		transition: 0.3s all;
		overflow: hidden;
	}
}
