@import '../../scss/setup';

.loginFormContainer {
	text-align: center;
	&__inputGroup {
		@extend %inputGroup;
	}
	.errorMessage {
		@extend %errorMessage;
		&-apis {
			padding-top: 0;
			margin: 16px 0;
		}
	}
}
