@import '../../../scss/setup';

.resetFormContainer {
	&__inputGroup {
		@extend %inputGroup;
		&:nth-child(2) {
			margin-bottom: 32px;
		}
	}
	.errorMessage {
		@extend %errorMessage;
		&-apis {
			padding-top: 0;
			margin: 16px 0;
		}
	}
}
