@import '../../scss/setup';

.appContainer {
	@include columnVertically();
	width: 100vw;
	min-height: 100vh;
	background: url('../../assets/background-grid.png') repeat center;
	background-size: 50px;
	&__body {
		@include rowVertically();
		@include container();
		flex-grow: 1;
		&-isLogin {
			align-items: flex-start;
			margin-top: 50px;
			> *:nth-child(1) {
				flex-grow: 1;
				margin-right: 26px;
			}
		}
	}
	> * {
		width: 100%;
	}
}
