@import '../../scss/setup';

.postFormContainer {
	@include columnVertically();
	padding: 32px;
	background-color: $white;
	margin-top: 16px;
	border: 2px solid $black;
	&__inputGroup {
		@include columnVertically();
		align-items: flex-start;
		width: 100%;
		&:nth-child(2) {
			margin-top: 16px;
		}
		label {
			@include basicLabel();
		}
		textarea {
			width: 100%;
			height: 170px;
			resize: none;
			border: 2px solid $black;
			padding: 12px 16px;
			&:focus,
			&:active {
				outline: none;
			}
		}
		#upload {
			display: none;
		}
	}
	.imageContainer {
		@include basicBorder();
		position: relative;
		width: 100%;
		margin-bottom: 32px;
		img {
			width: 100%;
			object-fit: cover;
			vertical-align: middle;
		}
		.removeBtn {
			position: absolute;
			right: 4px;
			top: 4px;
			font-size: $font-l;
			color: white;
			cursor: pointer;
		}
	}

	.errorMessage {
		@extend %errorMessage;
		&-apis {
			padding-top: 0;
			margin: 16px 0;
		}
	}
}
